*{
  font-family: 'Indie Flower', cursive;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Indie Flower', cursive;
}

.body {
  display: flex;
  flex-direction: column;
  background-image: url(images/background.jpg);
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-position {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
}

.header {
  background-color: beige;
  height: 125px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid lightslategray;
}

.title {
  font-size: 24px;
  font-family: 'Trade Winds', cursive;
}

.question-h4 {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.custom-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 30px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn-group {
  padding: 12px 65px;
  text-decoration: none;
  font-size: 25px;
  margin: 0px 12px;
  border-radius: 45%;
}

#mild {
  background-color: #4c9724;
  border: 3px solid black;
}

#medium {
  background-color: #fff83f;
  border: 3px solid black;
}

#hot {
  background-color: #961100;
  border: 3px solid black;
}

.btn-response {
  height: 100%;
  width: 50%;
}

.btn-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.options {
  display: flex;
}

input {

}