body {
  margin: 0px;
  padding: 0px;
  font-family: 'Indie Flower', cursive;
}

.body {
  display: flex;
  flex-direction: column;
  background-image: url(images/backgroun-image.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-position {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
}

.header {
  background-color: beige;
  height: 125px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid lightslategray;
}

.title {
  font-size: 24px;
  font-family: 'Trade Winds', cursive;
}

.question-h4 {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.custom-btn {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
}

btn-group {
  display: flex;
  /* justify-content: center; */
}

#mild {

}

.btn-response {
  height: 100%;
  width: 50%;

}

.btn-position {
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-group {
  display: flex;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}